.button {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  border-radius: 60px;
  cursor: pointer;
}
